<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body> 
    <h1>Site do Povo</h1>

    <footer>
        <p>
            <h2> 
            Victor Araujo Morais RGM 32186673 <br>
            Vinicius Gomes Marques RGM 29362105 <br>
            Willan Dias RGM 129240743 <br>
            </h2>
        </p>
    </footer>    

</body>
</html>