<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>

    <form>

        <h1>Produtos</h1>

        <label for="produto">Produto:</label>
        <input type="text" id="produto" name="produto"><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="5" cols="30"></textarea><br><br>
    </form>

</body>
</html>